<% %>
<a href="" class="jqmClose"><em>Close</em></a>
<% title = controller.action_name == 'edit' ? "Edit calendar entry" : "Add an entry to the calendar" %>
<%= error_messages_for :simple_calendar_entry %>
<h2><%= title %></h2>
<% form_for @simple_calendar_entry, :builder => SimpleCalendarMod::SimpleCalendarFormBuilder do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :detail, :rows => 5 %>
  <%= f.datetime_select :start_time, {:minute_step => 15} %>
  <%= f.datetime_select :end_time, {:minute_step => 15} %>
  <%= f.text_field :tag_list if session[:simple_calendar_taggable] %>
  <%= "<p class=\"form_example\">(comma delimited)</p><br />" if session[:simple_calendar_taggable] %>
  <%= f.hidden_field :mode, :value => @mode %>
  <%= submit_tag "Submit" %>
<% end -%>
