<% -%>
<script language="javascript">
  var $j = jQuery.noConflict();
  $j(document).ready(function() {
    $j('#calendar_modal').jqm({ajax: '@href', trigger: 'a.entry', toTop: true});
    if(<%= @admin %>) {
      $j('#calendar_modal_2').jqm({ajax: '@id', trigger: 'div.new_entry', toTop: true});
    }
    $j('#calendar_modal_3').jqm({ajax: '@id', trigger: 'input.wiki_entries_button', toTop: true});

    // Close Button Highlighting. IE doesn\'t support :hover. Surprise?
    if($j.browser.msie) {
      $j('div.jqmClose')
      .hover(
        function(){ $j(this).addClass('jqmCloseHover'); }, 
        function(){ $j(this).removeClass('jqmCloseHover'); });
    }
  });
</script>
<div class="jqmWindow" id="calendar_modal" style="display:none;"></div>
<div class="jqmWindow" id="calendar_modal_2" style="display:none;"></div>
<div class="jqmWindow" id="calendar_modal_3" style="display:none; text-align: left;"></div>
<table class="simple_calendar">
  <tr colspan="7">
    <th colspan="7" style="border: 0;">
      <%= select_month(@date, {}, 
                       {:id => "date_month",
                        :onchange => "#{remote_function(:url => {:controller => 'simple_calendar', :action => 'refresh_date'},
                                     :with => "'month='+this.value+'&year='+$('date_year').value+'&tag=#{@selected_tag}'")}"})%> 
      <%= select_year(@date, {}, 
                      {:id => "date_year",
                       :onchange => "#{remote_function(:url => {:controller => 'simple_calendar', :action => 'refresh_date'},
                                    :with => "'year='+this.value+'&month='+$('date_month').value+'&tag=#{@selected_tag}'")}"})%>
      <% if @show_wiki_entries_button -%>
        <%= button_to "Wiki Entries", {}, :id => "#{home_path}/simple_calendar_entries/entries_without_time", :class => "wiki_entries_button" %>
      <% end -%>
      <%= render :partial => 'shared/tags_select' %>
    </th>
  </tr>
  <tr>
    <td style="height:15px; border: none;" colspan="7"></td>
  </tr>
  <tr>
    <% Date::DAYNAMES.each do |day| -%>
      <th><%= day -%></th>
    <% end -%>
  </tr>
  <tr>
  <% @first_week_day.times do |blank_day| -%>
    <td class="blank_day"></td>
  <% end -%>
  <% @days.times do |day| -%>
    <td class="day<%= " selected" if day + 1 == Date.today.day and @month == Date.today.month and @year == Date.today.year -%>">
      <%= day_view_link(day + 1) %>
      <div class='new_entry' id="<%= path_for_new_calendar_entry_month(day + 1) %>">
        <% if !(entries = @entries[Date.civil(@year, @month, day + 1)]).nil? -%>
          <% entries.each_with_index do |entry, @x| -%>
            <% if @x < 6 -%> <!-- only display 6 entries per day in the month view -->
              <div class="time_entry">
                <%= entry.time -%>
                <%= link_to truncate(entry.name, :length => @link_length), simple_calendar_entry_path(entry), 
                            {:class => 'entry', :title => entry.name} -%>
              </div>
            <% end -%>
            <% if @x == 6 -%>
              </div> <!-- new_entry div closing -->
              <div class="more_link">
                <%= link_to_remote "#{entries.size - 6} more...", :url => path_to_day_view(day + 1),
                                                                  :complete => "tabsRoundedCorners()" %>
              </div>
            <% end -%>
          <% end -%>
        <% end -%>
    <%= "</div>" if (@x and @x < 6) or @entries[Date.civil(@year, @month, day + 1)].nil? -%> <!-- new_entry div closing -->
    </td>
    <% if day + 1 < @days and day.modulo(7) == 6 - @first_week_day -%>
      </tr><tr>
    <% end -%>
  <% end -%>
  <% last_day = (@first_week_day + (@days.modulo(7))).modulo(7) %>
  <% if last_day != 0 %>
    <% (7 - last_day).times do |blank_day| %>
      <td class="blank_day"></td>
    <% end -%>
  <% end -%>
  </tr>
</table>
